body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS';
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}

.main-header{
    background-color: #D8EAF6;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    width: 1200px;
    padding-top: 20px;
}

.main-header :last-child{
    margin-right: 20px;
}

.main-header img{
    width: 270px;
    margin-left: 25px;
}

.main-header-nav{
    display: flex;
    justify-content: space-between;
    gap: 35px;
    font-weight: bold;
}

.main-header-nav a{
    font-size: 15px;  
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

.main-header-nav a:hover{
    color: red;
    transition: 0.4s;
}

.first{
    background-color:#D8EAF6 ;
}
.row1{
    width: 1300px;
    display: flex;
    flex-direction: column;
}

.top-row1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.left-column-row1{
    width: 45%;
    margin: 0;
    padding: 0;
}
.right-column-row1{
    width: 50%;
    margin: 0;
    padding: 0;
}

.left-column-row1 p{
    font-size: 18px;
    width: 550px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.6);
}

.left-column-row1 a{
    margin: 0;
    font-size:14px ;
    text-decoration: none;
    background-color: #A52429;
    padding: 10px 25px;
    border-radius: 25px;
    color: rgba(255, 255, 255, 0.8);
}

.left-column-row1 a:hover{
    background-color:#5D5FB2 ;
    transition: 0.4s;
}


.plate-top{
    width: 770px;
}

.first-botom{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color:#D8EAF6  ;
}


.bottom-row1 {
    width: 1700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.what-i-eat{
    width: 80%;
    text-align: center;
   align-items: center;
   margin-right: 300px;
}

.leafrow1{
    margin-left: 50px;
    width: 15%;
    display: flex;
    align-self: flex-start;
}

.leafrow1 img{
    width: 100px;
    margin-right: 10px;
}


.bottom-row1 h1{
    font-size: 35px;
    margin-top: 60px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.6);
}

.bottom-row1 button{
    background-color:#5D5FB2 ;
    color: rgba(255, 255, 255);;
    border-radius: 25px;
    padding: 10px 70px;
    border: 2px solid #5D5FB2 ;
    font-size: 14px;
    cursor: pointer;
}

.bottom-row1 button:hover{
    background-color: #A52429; 
    border: 2px solid  #A52429;
    transition: 0.4s;
}

.second{
    background-color: white;

}

.row2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 90px;
    width: 1300px;
}

.left-column-row2 img{
    width: 770px;
     
}

.right-column-row2{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    gap: 9px;
}

.right-column-row2 h1 {
    font-size: 35px;
    color: rgba(0, 0, 0, 0.6);
}

.right-column-row2 p {
    font-size: 18px;
    width: 500px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 15px;
}

.right-column-row2 a{
    margin-top: 20px;
    font-size:14px ;
    background-color: #A52429;
    padding: 10px 25px;
    border-radius: 25px;
    color: rgba(255, 255, 255);
    border: 2px solid #A52429;
    text-decoration: none;
}

.right-column-row2 a:hover{
    background-color:#5E60B3;
    border: 2px solid #5E60B3;
    transition: 0.4s;
}

.right-column-row2 img{
    width: 350px;
}

.third{
 background-color:#5E60B3;
}

.row3 {
    width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 40px;
    padding-bottom: 140px;
}

.menu-plates{
    font-size: 5px;
    display: flex;
    gap: 150px;
}

.header-row3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.header-row3 h1{
    font-size: 45px;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

.header-row3 p{
    text-align: center;
    width: 450px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 0;
    color: rgba(255, 255, 255);
}

.first-plate h4{
  text-align: center;
  color: rgba(255, 255, 255,);
  margin: 0%;
  margin-top: 15px;
  font-size: 18px;
}

.first-plate p{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin: 0;
    padding: 0;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 8px;
}

.first-plate a{
    text-align: center;
    background-color:#5E60B3 ;
    border: 2px solid #5E60B3;
    color: rgba(255, 255, 255);
    font-size: 15px;
}

.first-plate a:hover{
    color: red;
}

.second-plate h4{
    text-align: center;
    color: rgba(255, 255, 255);
    margin: 0%;
    margin-top: 22px;
    font-size: 18px;
  }
  
  .second-plate p{
      text-align: center;
      color: rgb(255, 255, 255);
      font-size: 40px;
      margin: 0;
      padding: 0;
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 8px;
  }
  
  .second-plate a{
      text-align: center;
      background-color:#5E60B3 ;
      border: 2px solid #5E60B3;
      color: rgba(255, 255, 255);
      font-size: 15px;
  }

  .second-plate a:hover{
    color: red;
  }

  .third-plate h4{
    text-align: center;
    color: rgba(255, 255, 255);
    margin: 0%;
    margin-top: 22px;
    font-size: 18px;
  }
  
  .third-plate p{
      text-align: center;
      color: rgb(255, 255, 255);
      font-size: 40px;
      margin: 0;
      padding: 0;
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 8px;
  }
  
  .third-plate a{
      text-align: center;
      background-color:#5E60B3 ;
      border: 2px solid #5E60B3;
      color: rgba(255, 255, 255);
      font-size: 15px;
  }

  .third-plate a:hover{
    color: red;
  }

.menu-plates a{
    display: flex;
    justify-content: center;
}

.fourth{
    background-color: white;
}

.row4{
    width: 1700px;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 50px;
}

.left-row4{
    display: flex;
    width: 60%;
}

.soup-plate{
    width: 280px;
}

.review{
    width: 600px;
}

.about-customers h1 {
    font-size: 55px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.514);
    font-weight: normal;
}
.about-customers p {
    width: 400px;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 50px;
    line-height: 1.5;
}

.about-customers .btn-left img{
    width: 30px;
    height: 17px;
    color: grey;
    margin-right: 30px;
    cursor: pointer;
} 

.about-customers .btn-right img{
    width: 60px;
    cursor: pointer;
}

.about-customers .btn-right{
    background-color: white;
    border: white;
}
.about-customers .btn-left{
    background-color: white;
    border: white;
}

.leaf{
    display: flex;
    align-self: flex-start;
    width: 100px;
    margin-right: 10px;
}

.fifth{
    background-color:#3D3FB0;
}

.row5{
    width: 1700px;
    min-height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    gap: 25px;
}

.wtf{
    align-items: flex-start;
    width: 240px;
}

.ready-to-start{
    margin-left: 50px;
    width: 40%;
}

.ready-to-start h1{
 font-size: 40px;
 color: rgba(255, 255, 255, 0.801);
}
.ready-to-start p{
 font-size: 20px;
 color: rgba(255, 255, 255, 0.801);
 margin-top: 20px;
}

.row5 form input[type="email"] {
    padding: 25px;
    padding-right: 300px;
    border-radius: 10px;
    font-size: 20px; 
}

.last-plate{
    width: 400px;
    margin-left: 50px;
}

.sixth{
    background-color: white;
}

.row6{
    width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 16px;
    gap: 300px;
    padding-top: 70px;
    padding-bottom: 50px;
}

.nav-row6 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.row6 p{
    line-height: 2.5;  
    width: 30px;
    color: rgba(0, 0, 0, 0.6);
}
.row6 a{
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    margin-top: 18px;
}

.row6 a:hover{
  color: red;
  transition: 0.4s;
}

.rightp{
    margin-right: 80px;
}

.main-footer{
    background-color:#F4F4F4 ;
}

.footer {
    width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.footer p{
    color:rgba(0, 0, 0, 0.6); 
    font-size: 16px;
}
.footer-nav a{
    color:rgba(0, 0, 0, 0.6); 
    font-size: 16px;
    text-decoration: none;
    margin-right: 20px;
}







